@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "MENU";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Website on India touches following aspects of India. Click on any topic given below :-</h2>
    </div>
</section>
}
<ol>
    <h5><a href="~/Introduction"<li class="one">1. Introduction to India</li></a></h5>
    <h5><a href="~/Architecture"<li class="two">2. Architecture and art</li></a></h5>
    <h5><a href="~/Clothing"<li class="three">3. Clothing and Fashion</li></a></h5>
    <h5><a href="~/Crafts"<li class="four">4. Crafts and hobbies</li></a></h5>
    <h5><a href="~/Culture"<li class="five">5. Culture and people</li></a></h5>
    <h5><a href="~/Education"<li class="six">6. Education</li></a></h5>
    <h5><a href="~/Employment"<li class="seven">7. Employment</li></a></h5>
    <h5><a href="~/Family"<li class="eight">8. Family life</li></a></h5>
    <h5><a href="~/Famous"<li class="nine">9. Famous tourist places</li></a></h5>
    <h5><a href="~/Festivals"<li class="ten">10. Festivals of India</li></a></h5>
    <h5><a href="~/Food"<li class="eleven">11. Food</li></a></h5>
    <h5><a href="~/Geography"<li class="twelve">12. Geography: Location and Topography</li></a></h5>
    <h5><a href="~/Languages"<li class="thirteen">13. Languages</li></a></h5>
    <h5><a href="~/Living"<li class="fourteen">14. Living conditions</li></a></h5>
    <h5><a href="~/Religions"<li class="fifteen">15. Religions</li></a></h5>
    <h5><a href="~/Sports"<li class="sixteen">16. Sports</li></a></h5>
    </ol>
