@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "ARCHITECTURE AND ART";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>The great architecture work in India. </h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:150px" src="images/fam5.jpg" alt="Architecture"/>
    <li class="one">The most well-known example of Indian architecture is the Taj Mahal, built by Mughal emperor Shah Jahan to honor his third wife, Mumtaz Mahal. It combines elements from Islamic, Persian, Ottoman Turkish and Indian architectural styles. India also has many ancient temples.</li>
    </br>
    </br>
    <img style="margin-left:220px" src="images/aa.jpg" alt="Architecture"/>
    <li class="two">India is well known for its film industry, which is often referred to as Bollywood. The country's movie history began in 1896 when the Lumière brothers demonstrated the art of cinema in Mumbai, according to the Golden Globes. Today, the films are known for their elaborate singing and dancing.</li>
    </br>
    </br>
    <img style="margin-left:60px" src="images/aa3.jpg" alt="Architecture"/>
    <li class="three">Indian dance, music and theater traditions span back more than 2,000 years, according to NilimaBhadbhade, author of “Contract Law in India” (Kluwer Law International, 2010). The major classical dance traditions — BharataNatyam, Kathak, Odissi, Manipuri, Kuchipudi, Mohiniattam and Kathakali — draw on themes from mythology and literature and have rigid presentation rules.</li>
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
</ol>