@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "CLOTHING AND FASHION";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Second basic need of all human beings*</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="three">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:380px" src="images/clo2.jpg" alt="clothes"/>
    <li class="one">The common dress for Indian men is the dhoti. This is a long piece of white cotton wrapped around the waist and then drawn between the legs and tucked into the waist. In southern India, the chest is usually left bare, while in the north a shirt may be worn. Turbans or some form of headdress are common in northern India. Both men and women also wear a kurta , a long tunic-like shirt, and pyjamas, loose baggy trousers. People wear leather sandals or other shoes. Shoes usually are removed before entering a temple or an Indian home. Women typically wear the sari , a length of cotton or silk cloth wrapped around the waist, with one end thrown over the right shoulder. The choli, a tight-fitting blouse that leaves the midriff bare, is worn under the sari. The sari is worn differently in different parts of India. In Maharashtra, for example, rural women draw one end of the sari through the legs and tuck it into the waist. In some rural areas, women do not wear the bodice; they use the end of the sari to cover their upper bodies.</li>
    </br>
    </br>
    <img style="margin-left:370px" src="images/clo6.jpg" alt="clothes"/>
    <li class="two">Indian clothing is closely identified with the colorful silk saris worn by many of the country’s women. The traditional clothing for men is the dhoti, an unstitched piece of cloth that is tied around the waist and legs. Men also wear a kurta, a loose shirt that is worn about knee-length. For special occasions, men wear a sherwani, which is a long coat that is buttoned up to the collar and down to the knees. The Nehru jacket is a shorter version of a sherwani. In urban areas, Western-style clothing has become the norm for males.</li>
    </br>
    </br>
    <img style="margin-left:200px" src="images/clo7.jpg" alt="clothes"/>
    <h3><a href="~/AllTopics"<li class="three">Go to Topics Page</li></a></h3>
</ol>