@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "CRAFTS AND HOBBIES";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>The Identity and speciality of India.</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="two">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:0px" src="images/cra6.jpg" alt="Craft"/>
    </br><img style="margin-left:600px" src="images/cra7.jpg" alt="Craft"/>
    <li class="one">Folk arts in India range from wall painting to puppetry to regional music and dance forms. India is known for textiles, rugs, metalwork, bronzes, copper-and brassware, stone carving, pottery, woodwork, and jewelry.</li>
    </br><img style="margin-left:300px" src="images/cra4.jpg" alt="Craft"/><h3><a href="~/AllTopics"<li class="two">Go to Topics Page</li></a></h3>
</ol>