@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "CULTURE AND PEOPLE";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>☺ Namaste visitors ☺</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:290px" src="images/cult0.jpg" alt="Culture"/>
    <li class="one">India’s culture is among the world's oldest; civilization in India began about 4,500 years ago. Many sources describe it as "Sa Prathama SanskratiVishvavara" — the first and the supreme culture in the world, according to the All World GayatriPariwar (AWGP) organization. Western societies did not always see the culture of India very favorably, according to Christina De Rossi, an anthropologist at Barnet and Southgate College in London. Early anthropologists once considered culture as an evolutionary process, and ”every aspect of human development was seen as driven by evolution,” she told Live Science. “In this view, societies outside of Europe or North America, or societies that did not follow the European or Western way of life, were considered primitive and culturally inferior.  Essentially this included all the colonized countries and people, such as African countries, India, and the Far East.</li>
    </br>
    </br>
    <img style="margin-left:270px" src="images/ppl.jpg" alt="Culture"/>
    <li class="two">With nearly 1 billion citizens, India is the second most populous nation in the world. It is impossible to speak of any one Indian culture, although there are deep cultural continuities that tie its people together. English is the major language of trade and politics, but there are fourteen official languages in all. There are twenty-four languages that are spoken by a million people or more, and countless other dialects. India has seven major religions and many minor ones, six main ethnic groups, and countless holidays.</li>
    </br>
    </br>
    <img style="margin-left:220px" src="images/cult2.jpg" alt="Culture"/>
    <li class="three">However, Indians made significant advances in architecture (Taj Mahal), mathematics (the invention of zero) and medicine (Ayurveda). Today, India is a very diverse country, with more than 1.2 billion people, according to the CIA World Factbook, making it the second most populous nation after China. Different regions have their own distinct cultures. Language, religion, food and the arts are just some of the various aspects of Indian culture. Here is a brief overview of the culture of India.</li>
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
</ol>