@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome to www.adabindia.com | Homepage";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2></h2>
        </hgroup>
        <p>
Our website is introduced keeping in view the full satisfaction to the user seeking better information with much better GUI (Graphical User Interface) and where one can get huge information on India with just one click go. An internet user can surf the website at any time of day or night.
Also in the proposed system, information seekers (website surfers) can view the updated information or share the information with anyone on the web. All the information seekers have to register on our website to unlock the main content.
        </p>
    </div>
</section>
}

<h3>Some related content of our website for users:-</h3>

<ol class="round">
    <li class="one">
        <h5>There Are Many Interesting Topics About India</h5>
        To acess other topics you have to Register on our website or if you already registered, then you can Login into our website !!!
    </li>
    <li class="two">
        <img style="margin-left:320px" src="images/india.jpg" alt="Map of India"/><h5>Brief Introduction To India</h5>
        India is located in Southern Asia bordering the Arabian Sea and the Bay of Bengal. Neighboring countries include Bangladesh, Bhutan, Burma, China, Nepal, and Pakistan. India has a diverse geology: upland plain (Deccan Plateau) in south, flat to rolling plain along the Ganges river, deserts in west, and Himalayas in north. The government is a federal republic; the chief of state is the president, and the head of government is the prime minister. India has a market economy in which the prices of goods and services are determined in a free price system. India is a member of the Asia-Pacific Trade Agreement (APTA) and the South Asian Association for Regional Cooperation (SAARC).
    </li>
</ol>