@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "EDUCATION";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Wealth ! That no one can snatch from you.</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/ed7.jpg" alt="Education"/>
    <li class="one">It is estimated that over half of all Indians are literate (can read and write). However, this figure hides big differences between males and females, urban and rural populations, and among different social groups. Primary education is free but the quality of state-run schools tends to be poor.</li>
    </br>
    </br>
    <img style="margin-left:300px" src="images/ed6.jpg" alt="Education"/>
    </br>
    <img style="margin-left:180px" src="images/ed2.jpg" alt="Education"/>
    </br><li> Still, education is important and many of India's universities have excellent reputations.</li>
    </br>
    </br>
    <img style="margin-left:150px" src="images/ed.jpg" alt="Education"/>
<h3><a href="~/AllTopics"<li class="two">Go to Topics Page</li></a></h3>
</ol>