@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "EMPLOYMENT";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Working people are the basic power of any country...</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/emp2.jpg" alt="Employement"/>
    <li class="one">Over 60 percent of India's labor force works in agriculture. Despite this, India is highly industrialized. Its industries range from nuclear power production to garment making. Recent liberalization of the economy has seen faster growth and expanding trade, although many say these changes have not helped most of India's people.</li>
    </br>
    </br>
    <img style="margin-left:180px" src="images/emp.jpg" alt="Employement"/>
<h3><a href="~/AllTopics"<li class="two">Go to Topics Page</li></a></h3>
</ol>