@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "FAMILY LIFE";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Where everyone lives his natural life...</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/family.jpg" alt="Family"/>
    <li class="one">The joint family remains popular. In the north, families tend to be patriarchal. A household consists of two or three generations of males and their wives and children. In southern India, joint families often are matriarchal. It consists of one's grandmother and her brothers and sisters, one's mother and her brothers and sisters, and one's own brothers and sisters.</li>
    </br>
    </br>
    <img style="margin-left:265px" src="images/family4.jpg" alt="Family"/>
    <li class="two">Marriages often are arranged, and caste plays an important role. In northern India, marriage partners are usually unrelated. In southern India, however, cross-cousin marriage often occurs, and it is preferred that a man marry his mother's brother's daughter.</li>
    </br>
    </br>
    <img style="margin-left:300px" src="images/family9.jpg" alt="Family"/>
<h3><a href="~/AllTopics"<li class="three">Go to Topics Page</li></a></h3>
</ol>