@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "FAMOUS TOURIST PLACES";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Attraction hotspots of all adventure seekers and tourists</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/gt.jpg" alt="Shri Harimandir Sahib"/>
    <li class="one"><h5>Golden Temple</h5>Many people don’t realize that India is an incredibly diverse nation.  While the official languages of India are English and Hindi, the government recognizes 22 languages.  A lot of history comes with all that diversity and this is why you see all the different temples throughout India. The Gold temple of Amristar is a one of the popular tourist attractions in India and the Temples of Mahabalipuram and Chola Temples in are also that list.  If you are only able to visit just one area then focus on the temples in South India.</li>
    </br>
    </br>
    </br>
    <img style="margin-left:255px" src="images/fam8.jpg" alt="Taj Mahal"/>
    <li class="two"><h5>Taj Mahal</h5>New Delhi is the capital of northern India after the Muslim invasion and also the political capital.  The Taj Mahal was built as a mausoleum for the emperor Shan Jahan’s wife.  He was considered the wealthiest man in the world at the time (early 17th century). The Taj Mahal is actually a complext not just one building, you should look around the entire complex which provides impressive views and structures.</li>
    </br>
    </br>
    </br>
    <img style="margin-left:255px" src="images/fam3.jpg" alt="Gateway of India"/>
    <li class="three"><h5>Gateway Of India</h5>Mumbai - The New York City of India, it’s the cultural, business, and entertainment capital of the country. You can stroll through Bollywood which is India’s Hollywood.  Due to India’s rich history there are bountiful museums and endless structures to see. Make sure you support the Indian economy with the New York style shopping (one of the most popular things to do in Mumbai): custom tailored silk shirts for under $30, unique jewelry only found in India, luxury leathered goods, and anything else you could possibly think of (prepare your taste buds for a tumultuous ride because they will be burned off with the spicy food).</li>
    </br>
    </br>
    </br>
    <img style="margin-left:255px" src="images/fam2.jpg" alt="Hawa mahal"/>
    <li class="four"><h5>Hawa Mahal</h5>Another city for many India tourist attractions you are able to shop, go sightseeing, and take excursions.  Hawa Mahal, the Amber Fort, and the City Palace are great areas to go sightseeing in India.  As with the shopping in New Delhi, Jaipur has great malls and also great specialty markets.  Camel rides are very popular as well.</li>
    </br>
    </br>
    </br>
    <img style="margin-left:255px" src="images/fam.jpg" alt="Colva beach"/>
    <li class="five"><h5>Colva Beach (Goa)</h5>Languages and India tourist attractions are not where the diversity stops.  India is home to mountains, desert, and beaches.  The country offers great safari’s through the jungle to see the varied animals including the Bengal Tigers and desert safaris as well. Camping, rafting, trekking mountain sides, and skiing can also be placed on this list.  Dont forget that India has over 4,500 miles of coastline on the Indian Ocean.  An incredible coastline is a must add to your tourist places in india.</li>
    <h3><a href="~/AllTopics"<li class="six">Go to Topics Page</li></a></h3>
</ol>