@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "FESTIVALS OF INDIA";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Moments of gathering and happiness ☺</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/fest.jpg" alt="Festivals"/>
    <li class="one"><h5>Hindu Festivals</h5>
    Lohri, Makar Sankranti, Pongal, Vasant Panchami, Thaipusam, Maha Shivaratri, HolikaDahan, Holi, Chaitra Navratri, Gangaur Festival, Mewar Festival, Ram Navami, MahavirJayanti, Hanuman Jayanti, RathYatra, Guru Purnima, Onam, RakshaBandhan, Kumbh Mela,Janmashtami, Ramlila, Ganesh Chaturthi, Brahmotsavam, PitrPaksh, Rambarat, Navratra, Dussehra, Maharishi Valmiki jayanti, KarvaChauth, Dev Uthani Ekadashi, Dhanteras, Diwali, Govardhan Puja, Bhai Dooj.</li>
    </br></br>
    <img style="margin-left:250px" src="images/diwali.jpg" alt="Diwali"/>
    <li class="two">Diwali The most colourful of all the festival is Deepawali or Diwali, the festival of lights. Rama, the central figure in the epic Ramayana, went into exile for 14 years, accompanied by his wife Sita and brother Lakshman. During their wanderings in the forests, Ravana, the king of Lanka, carried Sita away. It was only after an epic battle that Rama vanquished Ravana, rescued Sita and returned home. The journey from Lanka in the south to Ayodhya in the north took 20 days. His triumphal return brought great joy to his people who illuminated the whole city to celebrate the occasion. This tradition continues to this day as houses and cities throughout India are lit up every year (traditionally with small earthenware cups or diyas filled with oil) to commemorate the anniversary. Deepawali signifies the triumph of good over evil and light over darkness.</li>
    </br></br>
    <img style="margin-left:250px" src="images/du.jpg" alt="Dussehra"/>
    <li class="three">Dussehra The battle between Ravana and Rama and the latter's victory are celebrated as Dussehra in many parts of India, 20 days before Deepawali. Dussehra is the day when the effigies of Ravana, his brothers Meghnath and Kumbhakaran, are burnt. It is preceded by enactment of the story of the Ramayana by amateur groups of people in what is known as Ram Lila where all-night performances of the Ramayana from the beginning to the end are enacted; the actors are mainly young boys who perform the role of male as well as female characters.</li>
    </br></br>
    <img style="margin-left:250px" src="images/ganesh.jpg" alt="Ganesh Chaturthi"/>
    <li class="four">Ganesh Chaturthi and Durga Pooja In Bengal, the worship of the Goddess Durga precedes Deepawali. While Goddess Durga is worshipped with great devotion in West Bengal, Lord Ganesha - acknowledged as the remover of obstacles - is the central figure in the celebration of Ganesh Chaturthi in Maharashtra.</li>
    </br></br>
    <img style="margin-left:250px" src="images/janam.jpg" alt="RadheKrishna"/>
    <li class="five">Janmashtami Lord Krishna, the eighth incarnation of Vishnu, is the divine core in the epic Mahabharata. It was he who gave the sermon of the Bhagwat Gita (the song Celestial) to Arjuna, one of the five Pandava brothers during their battle with the Kauravas at Kurukshetra. This battle again epitomises the fight between the forces of evil and good. Lord Krishna is venerated all over India and there are temples dedicated to him specifically but in particular, his home ground of Vrindavan and Mathura where he lived as a boy and revealed his divinity by the miracles he wrought.</li>
    </br></br>
    <img style="margin-left:250px" src="images/holi.jpg" alt="Holi colors"/>
    <li class="six">Holi Then there is Holi, the festivals of colours when men, women and children drench one another with coloured water to celebrate the beauty of spring season, when flowers bloom and deck the earth.</li>
    </br>
    <li class="seven"><h5>Sikh Festivals</h5></li></br>
    <img style="margin-left:250px" src="images/sikh.jpg" alt="Diwali at Golden Temple"/>
    <li>Guru Nanak Jayanti and Baisakhi The birth anniversaries of Guru Nanak and Guru Gobind Singh, the tenth and last of Gurus, are very important days and are celebrated with religious fervour and devotion. Processions are taken out, the scriptures are chanted, without a break, and the Gurudwaras (Sikh temples) are illuminated. The Indian calendar, as opposed to the Gregorian, starts in April. New Year's Day is April 13, celebrated as Baisakhi, which coincides with the harvesting of the wheat crop in Northern India, especially in Punjab. People wear new clothes, sing and dance in joy. In Eastern India, the New Year begins on April 14 and again it is a joyous occasion with singing and dancing by young men and women who don their best silken mekhalas (sarongs) and chaddars (an overwrap) and dance to the beat of the drum. This festival is known as Rangali Bihu in Assam.</li>
    </br>
    <li class="eight"><h5>Muslim Festivals</h5></li></br>
    <img style="margin-left:250px" src="images/eid.jpg" alt="Eid"/>
    <li>The festival of Eid is celebrated at the end of a month-long fasting. Christmas, commemoration of the birth of Jesus Christ, transcends the barriers of faith to become an occasion for celebration of joy across the country.</li>
    </br>
    <li class="nine"><h5>Christian Festivals</h5></li></br>
    <img style="margin-left:250px" src="images/chris.jpg" alt="Christmas"/>
    <li class="ten">Good Friday, Easter, Christmas : In India, spirituality is part of everyday life. While religion is more about rituals, spirituality is more to do with one's self, or the spirit. To understand Indian spirituality, it is essential to understand the basic tenets of Hinduism. A rich, complex and deeply symbolic religion, Hinduism is called Sanatana Dharma or the eternal truth, tradition or religion. It is the world's oldest religion or rather a way of life.</li>
<h3><a href="~/AllTopics"<li class="eleven">Go to Topics Page</li></a></h3>
</ol>