@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "FOOD";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>First basic need of all human beings*</h2>
    </div>
</section>
}

<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:395px" src="images/food5.jpg" alt="Food"/>
    <li class="one">A typical Indian meal consists of five or six dishes, served all on a thali . This is a round metal tray or plate that holds several little bowls ( katoris). Each bowl holds a different dish. In some areas, food is served on banana leaves. Food is eaten with the hand, preferably the right hand.</li>
    </br></br>
    <img style="margin-left:300px" src="images/food2.jpg" alt="Food"/>
    <li class="two">The term "curry" was used by Europeans to describe the spicy dishes they found in India, but curries are not always hot. The "heat" in Indian food comes from chilies. Other spices include cumin, coriander, turmeric, black pepper, cardamom, and cloves. Curries are eaten with lentils (dal) and pickles and chutneys. In northern and western areas, meals are taken with flat breads (roti) . These breads are replaced by rice (chawal) in the east and south. Yogurt (dahi) also may be eaten. Meals often end with a variety of sweets or paan, betel nut served with lime and wrapped in a betel leaf.</li>
    </br></br>
    <img style="margin-left:300px" src="images/food4.jpg" alt="Food"/>
    <li class="three">Mughal-style cooking is found in the north, while dosas(thin pancakes of rice-flour) and idlis(steamed rice-bread) are popular southern dishes. Madras is known for its fiery curries, while Bengal is famous for its fish dishes. Goan cooking shows Portuguese influences. When the Moghul Empire invaded during the sixteenth century, they left a significant mark on the Indian cuisine, according to Texas A&M University. Indian cuisine is also influenced by many other countries. It is known for its large assortment of dishes and its liberal use of herbs and spices. Cooking styles vary from region to region.</li>
    </br></br>
    <img style="margin-left:300px" src="images/food3.jpg" alt="Food"/>
    <li class="four">Wheat, Basmati rice and pulses with chana (Bengal gram) are important staples of the Indian diet. The food is rich with curries and spices, including ginger, coriander, cardamom, turmeric, dried hot peppers, and cinnamon, among others. Chutneys — thick condiments and spreads made from assorted fruits and vegetables such as tamarind and tomatoes and mint, cilantro and other herbs — are used generously in Indian cooking.</li>
    </br></br>
    <img style="margin-left:310px" src="images/food10.jpg" alt="Food"/>
    <li class="five">Much of Indian food is eaten with fingers or bread used as utensils. There is a wide array of breads served with meals, including naan, a leavened, oven-baked flatbread, and bhatoora, a fried, fluffy flatbread common in North India and eaten with chickpea curry. Many Hindus avoid eating beef. Muslims generally do not eat pork. Tribal groups avoid the flesh of animals that are their clan totems.</li>
    </br></br>
    <img style="margin-left:310px" src="images/food15.jpg" alt="Food"/>
    <li class="six">Many Hindus are vegetarians, but lamb and chicken are common in main dishes for non-vegetarians. The Guardian reports that between 20 percent and 40 percent of India's population is vegetarian.</li>
<h3><a href="~/AllTopics"<li class="seven">Go to Topics Page</li></a></h3>    
</ol>