@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "GEOGRAPHY: LOCATION AND TOPOGRAPHY";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>All the basic geographical details of India.</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/geo.jpg" alt="India"/>
    <li class="one">Located in the Southern part of Asia, India lies between 8°4' and 37°6' N Latitude and 68°7' and 97°25' E Longitude. This seventh largest country in the world spreads over an area of 3,166,414 sq. km., including Lakshadweep Island in the Arabian Sea and the Andaman and Nicobar Islands in the Bay of Bengal. India is bounded by the Arabian Sea on its west and south west and the Bay of Bengal on its east and south east and the Himalayan Mountain ranges borders the country on its north. India shares its territorial border with Afghanistan, Pakistan, China, Nepal, Bhutan and Bangladesh.</li>
    </br></br>
    <img style="margin-left:259px" src="images/geo2.jpg" alt="India"/>
    <li class="two">India is blessed with diverse topography—from mountains to plains, to plateaus, deserts, coasts and islands. The Tropic of Cancer divides the country into two equal parts in the Northern and Southern part, and the Vindhya Mountains cut right across the country, from West to East. The Himalayas, which forms the Northern boundary of the country, consist of three parallel series of mountain range: the Himadri, Himachal and Shivaliks.</li>
    <li class="three">India is also fortunate in possessing a wide stretch of fertile lands, made up of the alluvial soil brought down in the form of fine silt by the mighty rivers. Lying south of the Himalayas, these Great North Indian Plains consist of the Indus basin, Ganga-Brahmaputra basin, and the tributaries of these mighty river systems.</li>
    </br></br>
    <img style="margin-left:259px" src="images/geo3.jpg" alt="India"/>
    <li class="four">To the south of the Great Plains of Northern India lies the Great Plateau of Peninsular India, which is divided into three parts, namely the Malwa Plateau, the Chota Nagpur Plateau and the Deccan Plateau. The Malwa plateau bounded by the Aravalli hills and the Vindhyas form the northern half of this peninsula. The valley of the Narmada River forms the Southern boundary of this plateau. Chota Nagpur Plateau lies in the Eastern part of the peninsular and is the richest minerals producing region of India. The Deccan Plateau extends from the Satpura hills in the north to Kanyakumari in South.</li>
    </br></br>
    <img style="margin-left:347px" src="images/geo4.jpg" alt="India"/>
    <li class="five">Towards the west of the Deccan Plateau lie the Western Ghats that comprise of the Sahyadri, the Nilgiri, the Annamalai and the Cardamom Hills. On the eastern side, this plateau merges into a layer of discontinuous low hills known as the MahendraGiri hills, which comprise of the Eastern Ghats.</li>
<h3><a href="~/AllTopics"<li class="seven">Go to Topics Page</li></a></h3>
</ol>