@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "INTRODUCTION TO INDIA";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>In this topic, all the primary or basic introduction to India is given.</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:280px" src="images/geo3.jpg" alt="India"/>
    <li class="one">India is located in Southern Asia bordering the Arabian Sea and the Bay of Bengal. Neighboring countries include Bangladesh, Bhutan, Burma, China, Nepal, and Pakistan. India has a diverse geology: upland plain (Deccan Plateau) in south, flat to rolling plain along the Ganges river, deserts in west, and Himalayas in north. The government is a federal republic; the chief of state is the president, and the head of government is the prime minister. India has a market economy in which the prices of goods and services are determined in a free price system. India is a member of the Asia-Pacific Trade Agreement (APTA) and the South Asian Association for Regional Cooperation (SAARC).</li>
    <li class="two">India is the largest country in South Asia. The word "Indian" comes from Sindhu, a local name for the Indus River. Indians also call their country "Bharat," the name of a legendary emperor. 
Indian history dates to the third millennium BC when Harappan civilization flourished in the Indus Valley. Aryan-speaking tribes from Central Asian began settling in northwestern India around 1700 BC . These groups eventually took over much of India. 
At times, powerful kingdoms such as the Mauryan (321–181 BC ) and the Gupta ( AD 319–c. 500) empires have ruled. But, over the centuries, Persians, Greeks, Parthians, Kushans, and White Huns invaded India. Muslims entered India at the beginning of the eleventh century AD and ruled much of the subcontinent for eight hundred years. The Mughal Dynasty conquered Delhi and ruled from the sixteenth century until the eighteenth century. Islam made important contributions to South Asian civilization and shaped a great deal of India's cultural heritage. 
Europeans reached South Asia in 1498 when Portuguese sailors landed on the southwest coast of India. Over the next two centuries, Portugal, Holland, Britain, and France set up trading posts and factories. By the middle of the eighteenth century, the British East India Company controlled most of the European trade in India, and Britain ultimately ruled the entire region. 
The inability of British, Hindu, and Muslim leaders to agree on a successor state to the British Indian Empire resulted in the partition of the subcontinent (by the United Nations) into India and Pakistan in 1947. This has caused three wars. India and Pakistan continue to be hostile toward each other, particularly over the question of which country should control the beautiful mountain state of Kashmir.</li>
    </br>
    </br>
    <img style="margin-left:80px" src="images/BML.jpg" alt="Bharat Mata"/><li class="three">"So far as I am able to judge, nothing has been left undone, either by man or nature, to make India the most extraordinary country that the sun visits on his rounds. Nothing seems to have been forgotten, nothing overlooked." --Mark Twain, from Following the Equator: It is impossible not to be astonished by India. Nowhere on Earth does humanity present itself in such a dizzying, creative burst of cultures and religions, races and tongues. Every aspect of the country presents itself on a massive, exaggerated scale, worthy in comparison only to the superlative mountains that overshadow it. Perhaps the only thing more difficult than to be indifferent to India would be to describe or understand India completely.</li>
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
</ol>