@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "LANGUAGES";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>The stronger bridge bewteen people from different places.</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/lang3.jpg" alt="Languages"/>
    <li class="one">A Hindi proverb states: "Every two miles the water doth change, and every four the dialect." India has 1,653 dialects. There are about twenty-four languages that are spoken by more than a million people.</li>
    </br></br>
    <img style="margin-left:260px" src="images/lang2.jpg" alt="Languages"/>
    <li class="two">India has 28 states and seven territories, according to the World Health Organization. There is no official language in India, according to a Gujarat High Court ruling in 2010. Many people living in India also write in Devanagari script. In fact, it is a misconception that the majority of people in India speak Hindi. Though many people speak Hindi in India, 59 percent of India residents speak something other than Hindi, according to The Times of India. Bengali, Telugu, Marathi, Tamil and Urdu are some other languages spoken in the country.</li>
    </br></br>
    <img style="margin-left:260px" src="images/lang.jpg" alt="Languages"/>
    <li class="three">Indian languages belong to four major linguistic families (groups of languages with a common ancestor). Austro-Asiatic languages (e.g., Munda, Ho, and Khasi) are spoken by tribal groups in central India and the northeastern hills. Bhotia and other languages in the mountain belt belong to the Sino-Tibetan linguistic family. Most Indian languages belong to the Indo-European or Dravidian families. India today recognizes fourteen spoken languages as official: Hindi, Bengali, Telugu, Marathi, Tamil, Urdu, Gujarati, Malayalam, Kannada, Oriya, Punjabi, Assamese, Kashmiri, and Sindhi. Sanskrit, the classical language of northern India, is also an official language. English is widely used for national, political, and business purposes.</li>
    <h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
</ol>