@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "LIVING CONDITIONS";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Third basic need of all human beings*</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/liv7.jpg" alt="Living"/>
    <li class="one">Medical advances, immunization, and public health programs have raised the average life expectancy in India to just over sixty years. Inadequate sewage disposal, contaminated drinking water, and poor nutrition still pose health problems. India has a high rate of population increase—almost 2 percent a year, which presents one of the country's greatest challenges. For many poor people, however, children provide valuable agricultural help and improve a family's income. People living in poverty are estimated to represent between 24 and 40 percent of the population of India.</li>
    </br></br>
    <img style="margin-left:260px" src="images/liv8.jpg" alt="Living"/>
    <li class="two">India contains some of the largest cities in the world. Greater Bombay (or Mumbai) has about thirteen million people, Calcutta has twelve million, and Delhi has ten million. Yet almost three-fourths of India's people live in rural areas.</li>
    </br></br>
    <img style="margin-left:260px" src="images/liv2.jpg" alt="Living"/>
    <li class="three">India has 1.3 million miles (2.2 million kilometers) of roads. Buses and trains are the most common means of long-distance travel. Several airlines also operate in India.</li>
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
</ol>