@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "RELIGIONS";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>GOD is One*</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:300px" src="images/rel3.jpg" alt="Religions"/>
    <li class="one">About 80 percent of Indians are Hindus. India, however, prides itself on the freedom of religion guaranteed by its constitution. Religious minorities include Muslims (14 percent), Christians (2.4 percent), Sikhs (2 percent), Buddhists (0.7 percent), and Jains (0.5 percent). Other religious groups include Jews, Parsis (Zoroastrians), and animistic tribal peoples. The practices and beliefs associated with Hinduism vary by region, and from person to person. It is often said that Hinduism is not a religion but a way of life. India is identified as the birthplace of Hinduism and Buddhism, the third and fourth largest religions. About 84 percent of the population identifies as Hindu, according to the “Handbook of Research on Development and Religion” Edited by Matthew Clarke (Edward Elgar Publishing, 2013). There are many variations of Hinduism, and four predominant sects — Shaiva, Vaishnava, Shakteya and Smarta.</li>
    </br></br>
    <img style="margin-left:260px" src="images/rel2.jpg" alt="Religions"/>
    <li class="two">Religion is central to Indian culture, and its practice can be seen in virtually every aspect of life in the country. Hinduism is the dominant faith of India, serving about 80 percent of the population. Ten percent worship Islam, and 5 perscent are Sikhs and Christians; the rest (a good 45 million) are Buddhists, Jains, Bahai, and more. About 13 percent of Indians are Muslim, making it one of the largest Islamic nations in the world. Christians and Sikhs make up a small percentage of the population, and there are even fewer Buddhists and Jains, according to the “Handbook.”</li>
    </br></br>
    <img style="margin-left:340px" src="images/rel4.jpg" alt="Religions"/>
    <li class="three">One major aspect of Hinduism that influences Indian society is the caste system. The Aryan-speaking peoples developed this system, which divides people into four categories: Brahmans (priests and scholars), Ksatriyas (warriors and rulers), Vaisyas (traders and farmers), and Sudras (servants and artisans). These categories are further divided by occupations, as well as by regional and cultural differences. However, most Indians fall outside the four categories and are referred to as Untouchables, the lowest caste. Although the system has its roots in Hinduism, most religious groups in this region of the world have adopted some aspect of the caste structure.</li>
<h3><a href="~/AllTopics"<li class="six">Go to Topics Page</li></a></h3>
</ol>