@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "SPORTS";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
        </hgroup>
        <h2>Parhoge likhoge hoge khraab</br>Kheloge kudoge banoge Nawaab!</h2>
    </div>
</section>
}
<h3><a href="~/AllTopics"<li class="four">Go to Topics Page</li></a></h3>
<ol class="round">
    <img style="margin-left:320px" src="images/sp.jpg" alt="Sports"/>
    <li class="one">Hockey is national sports of India, but Cricket is most loving game for any age group of Indians.</li>
    </br></br>
    <img style="margin-left:190px" src="images/sp3.jpg" alt="Sports"/>
    <li class="two">Traditional sports include cock fighting, camel racing, and wrestling. Hunting was a favorite sport and kabaddi (team wrestling) remains popular. Children's games include kite-flying, spinning tops, yo-yos, and hobbyhorses. Indians enthusiastically play or watch cricket and field hockey. Games such as soccer, tennis, badminton, squash, table tennis, and golf are also widely played.</li>
    </br></br>
    <img style="margin-left:270px" src="images/sp2.jpg" alt="Sports"/>
    </br></br>
    <h2>Thank you for visiting our website!</h2>
    </br></br>
    <img style="margin-left:200px" src="images/thank.jpg" alt="Thanks"/>
<h3><a href="~/AllTopics"<li class="two">Go to Topics Page</li></a></h3>
</ol>