@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>ABOUT THIS WEBSITE</h1>
</hgroup>

<article>
    <p>
       <h6>This website is developed by Abhi Chohan and Amandip Singh. ADAB logo is just the mix of Amandip and Abhi.</h6>
    </p>
    <p>
        <h6>Both are the students of BCA final year (2014-2017 Batch) in Global Institutes, Amritsar.</h6>
    </p>
    <p>
        <h6>This website is developed under BCA 5th semester project-1 for education purpose only, not for any commercial use.</h6>
    </p>
    <p>
        <h6>This website have 16 different topics on India</h6>
    </p>
    <p>
        <h6>Total number of accessible pages is 21</h6>
    </p>
    <p><img style="margin-left:220px" src="images/AD.jpg" /></p>
</article>

<aside>
    <h2>PROJECT SUPERVISOR</h2>
    <p>
        <h3>Miss Ruhi Mahajan (Assistant Professor)</h3>
    </p>
    <p><h4>Incharge BCA Final Year</h4></p> 
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
        <ul>
            <li><h5>Other links</h5>
            </ul>
    </br>
    </br>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
</aside>