@{
    Layout = "~/_userSiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>☻ Contact us.☺ </h1>
</hgroup>
<aside>
    <img src="images/contactbutton.jpg" />
    </br>
    </br>
    <img src="images/ContactUs.jpg" />
</aside>
<section class="contact">
    <header>
        <h3>TelePhone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0183.227.7***</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>0183.227.8***</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Abhi Chohan:</span>
        <span><a href="mailto:www.gmail.com">abhichauhan175@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Amandip Singh:</span>
        <span><a href="mailto:www.gmail.com">amandip.singh161@gmail.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">super95.ab@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        Amritsar(143001)<br />
        Punjab (India)
    </p>
</section>